{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block titulo_principal %}
    Administración de estudios de Delphi
{% endblock %}
<head>
    {% block extra_css %}
        <!-- DataTables -->
        <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    {% endblock %}

</head>
{% block navbar %}
    {% include "delphi/miNavBar.html" %}
{% endblock %}

{% block sidebar %}
    {% include "delphi/miSideBar.html" %}
{% endblock %}

{% block content %}
    <div class="box-header">
        <h3 class="box-title">Sesiones</h3>
        {% if request.user.is_superuser %}
            <a href="{% url 'delphi:sesion_cuestionario' cuestionario.id %}">
                <button class="pull-right btn btn-success"><i class="fa fa-plus">Agregar sesion</i></button>
            </a>
        {% endif %}
    </div>
    <div class="box-body">
        <table id="estudiosDelphi" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Código</th>
                <th><b>Nombre </b></th>
                <th style="text-align:center;"><b>Estado</b></th>
                <th style="text-align: center;"><b>Preguntas permitidas</b></th>
                <th style="text-align:center;"><b>Fecha de inicio</b></th>
                <th style="text-align:center;"><b>Fecha de cierre</b></th>
                <th><b>Opciones</b></th>
            </tr>
            </thead>
            <tbody>
            {% if sesiones %}
                {% for sesion in sesiones %}
                    <tr id="tr{{ sesion.id }}">
                        <td>{{ sesion.codigo_sesion }}</td>
                        {% if request.user in sesion.cuestionario.delphi.coordinadores.all %}
                            <td><a href="{% url 'delphi:preguntas' sesion.id %}">{{ sesion.nombre }}</a></td>
                        {% elif request.user == sesion.cuestionario.delphi.moderador %}
                            <td><a href="{% url 'delphi:cuestionario' sesion.id %}">{{ sesion.nombre }}</a></td>
                        {% endif %}
                        {% if sesion.estado %}
                            <td style="text-align:center;">Abierta
                                <small class="badge bg-green"><i class="fa fa-check"></i></small>
                            </td>
                        {% else %}
                            <td style="text-align:center;">Cerrada
                                <small class="badge bg-red"><i class=" fa fa-times"></i></small>
                            </td>
                        {% endif %}
                        {% if sesion.permitir_preguntas %}
                            <td style="text-align:center;">Si
                                <small class="badge bg-green"><i class="fa fa-check"></i></small>
                            </td>
                        {% else %}
                            <td style="text-align:center;">No
                                <small class="badge bg-red"><i class=" fa fa-times"></i></small>
                            </td>
                        {% endif %}
                        <td>{{ sesion.fecha_inicio }}</td>
                        <td>{{ sesion.fecha_final }}</td>
                        <td>
                            <a class="btn-xs btn-warning" title="Editar sesión" href=" {% url 'delphi:editar_sesion' sesion.id %}"> <i
                                    class="fa fa-pencil"></i></a>
                            <a href="#myModal" role="button" title="Eliminar sesión" class="btn-xs btn-danger delete" data-toggle="modal"
                               data-id="{{ sesion.id }}" data-name="{{ sesion.nombre }}"><i
                                    class=" fa fa-trash"></i></a>
                            {% if sesion.estado %}
                                <a class="btn-xs btn-warning" title="Cerrar sesión" href=" {% url 'delphi:cerrar_sesion' sesion.id %}"> <i
                                        class="fa fa-close"></i></a>
                            {% endif %}
                            {% if sesion.cuestionario.estado %}
                                <a class="btn-xs btn-primary" title="Ver resultados" href=" {% url 'delphi:ver_resultados' sesion.cuestionario.id %}"> <i
                                        class="fa fa-eye"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No se han creado sesiones para este cuestionario</h1>
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <th>#</th>
                <th><b>Titulo</b></th>
                <th style="text-align:center;"><b>Estado</b></th>
                <th style="text-align:center;"><b>Rol</b></th>
                <th style="text-align:center;"><b>Fecha de inicio</b></th>
                <th style="text-align:center;"><b>Fecha de cierre</b></th>
                <th><b>Acciones</b></th>
            </tr>
            </tfoot>
        </table>
    </div>

    {# --------- Modal Eliminar ---------------- #}
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Estudio</h4>
                </div>
                <div class="modal-body">
                    <p>¿Realmente desea elimiar el estudio: <span id="modal_titulo"></span>?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" id="frmEliminar">
                        {% csrf_token %}
                        <input type="hidden" id="modal_idestudio" name="estudio_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Aceptar</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% block extra_js %}

        <script src="{% static '/js/delphi/dataTable/jquery.dataTables.min.js' %}"></script>
        <script src="{% static '/js/delphi/eliminar_estudio.js' %}"></script>
        <!-- page script -->
        <script>
            $(function () {
                $('#estudiosDelphi').DataTable()
            })
        </script>
    {% endblock %}

{% endblock %}
