{% if variable.estudiomicmac.abierto is True %}
    <a class="btn btn-xs btn-warning"
       href="{% url 'delphi:editar_pregunta' variable.id %}"><span
            class="fa fa-pencil"></span></a>
    <a class="btn btn-xs btn-danger"
       href="{% url 'delphi:eliminar_pregunta' variable.id %}"><span
            class="fa fa-trash-o"></span></a>
    <a class="btn btn-xs bg-blue-active" onclick="return votar"
       href="{% url 'delphi:votar_positivo' variable.id %}">
                                        <span class="fa fa-thumbs-o-up"><label
                                                id="votos_positivos">({{ variable.votos_positivos.count }})</label></span>
    </a>
    <a class="btn btn-xs bg-blue-active"
       href="{% url 'delphi:votar_negativo' variable.id %}"> <i
            class="fa fa-thumbs-o-down"><label
            id="votos_positivos">({{ variable.votos_negativos.count }})</label></i></a>
    <a class="btn btn-xs btn-info "
       href=" {% url 'delphi:respoder_pregunta' variable.id %}"> <i
            class="fa fa-comment-o"></i></a>
    <a onclick="return modals('{% url 'delphi:estadisticas' variable.id %}','Estadisticas / {{ variable.votos_positivos.count }}')"
       class="btn btn-xs bg-purple">
        <span class="fa fa-line-chart"></span>
    </a>
    </td>
{% else %}
    <a class="btn btn-xs btn-warning" disabled="True"
       title="El cuestionario está cerrado, por tanto no puede edita la pregunta."><span
            class="fa fa-pencil"></span></a>
    <a class="btn btn-xs btn-danger" disabled="True"
       title="El cuestionario está cerrado, por tanto no puede eliminar la pregunta."><span
            class="fa fa-trash-o"></span></a>
    <a class="btn btn-xs bg-blue-active" disabled="True"
       title="El cuestionario está cerrado, por tanto no puede votar por la pregunta.">
        <span class="fa fa-thumbs-o-up">({{ variable.votos_positivos.count }})</span>
    </a>
    <a class="btn btn-xs bg-blue-active" disabled="True"
       title="El cuestionario está cerrado, por tanto no puede votar por la pregunta."> <span
            class="fa fa-thumbs-o-down">({{ variable.votos_negativos.count }})</span></a>
    <a class="btn btn-xs btn-info " disabled="True"
       title="El cuestionario está cerrado, por tanto no puede comentar la pregunta."><i
            class="fa fa-comment-o"></i></a>
    <a onclick="return modals('{% url 'delphi:estadisticas' variable.id %}','Pregunta / {{ variable.enunciado_pregunta }}')"
       class="btn btn-xs bg-purple">
        <span class="fa fa-line-chart"></span>
    </a>
{% endif %}