
<div class="pull-right">
    {% if matriz and actores %}
        <select name="graficos_midi" class="form-control" onchange="location = this.value;">
            <option value="">Análisis MIDI</option>
            {% if usuario == 'COORDINADOR_EXPERTO' and consenso is False %}
                <option value="{% url 'mactor:consenso_mid' estudio.id 2 %}">Consenso MIDI</option>
            {% endif %}
            {% if consenso is True %}
                <option value="{% url 'mactor:consenso_mid' estudio.id 8 %}">Mapa de actores</option>
                <option value="{% url 'mactor:consenso_mid' estudio.id 5 %}">Coeficiente de fuerza Ri</option>
                <option value="{% url 'mactor:consenso_mid' estudio.id 6 %}">Coeficiente de estabilidad H</option>
            {% else %}
                <option value="{% url 'mactor:mapa_actores' estudio.id %}">Mapa de actores</option>
                <option value="{% url 'mactor:matriz_ri' estudio.id %}">Coeficiente de fuerza Ri</option>
                <option value="{% url 'mactor:estabilidad' estudio.id %}">Coeficiente de estabilidad H</option>
            {% endif %}
        </select>
    {% endif %}
</div>

