{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if usuario != '' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Detalle estudio</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>
										<!-- Form starts.  -->
                                    <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Título</label>
                                                    <input class="form-control" readonly value="{{ estudio.titulo }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Objetivo</label>
                                                    <textarea class="form-control" rows="2" readonly>{{ estudio.objetivo }}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Entrevistador</label>
                                                    <input class="form-control" readonly value="{{ estudio.entrevistador }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Entrevistado</label>
                                                    <input class="form-control" readonly value="{{ estudio.entrevistado }}">
                                                </div>
                                            </div>
                                        </div>

                                        {% if usuario != 'EXPERTO' %}
                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label class="control-label" style="text-align: left">Coordinador</label>
                                                        <input class="form-control" readonly value="{{ estudio.idCoordinador }}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label class="control-label" style="text-align: left">Expertos</label>
                                                        <input class="form-control" readonly value="{{ estudio.idExpertos.count }}">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Inicio</label>
                                                    <input class="form-control" readonly value="{{ estudio.fecha_inicio }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Cierre</label>
                                                    <input class="form-control" readonly value="{{ estudio.fecha_final }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Estado</label>
                                                    {% if estudio.estado is True %}
                                                        <input class="form-control" readonly value="Abierto">
                                                    {% else %}
                                                        <input class="form-control" readonly value="Cerrado">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Proyecto</label>
                                                    <input class="form-control" readonly value="{{ estudio.idProyecto }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:lista_estudios' %}" title="Lista de estudios"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


