{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if usuario != '' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Detalle pregunta</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>
										<!-- Form starts.  -->
                                    <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Pregunta</label>
                                                    <textarea class="form-control" rows="2" name="texto_pregunta" readonly>{{ pregunta.texto_pregunta }}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Respuesta</label>
                                                    <textarea class="form-control" rows="2" name="texto_respuesta" readonly>{{ pregunta.texto_respuesta }}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Observación</label>
                                                    <textarea class="form-control" rows="2" name="observacion" readonly>{{ pregunta.observacion }}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:preguntas' pregunta.idEstudio.id %}" title="Cuestioario"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
</div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


